@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    body {
        @apply min-h-screen flex items-center bg-yellow-200;
    }
} */

@layer components {
    .input-under {
        @apply px-2 py-2 border-2 focus:border-2 focus:border-b-blue-600 border-transparent focus:outline-none placeholder-transparent transition-colors;
    }
    .input-under-label {
        @apply absolute
            left-2
            peer-placeholder-shown:left-2
            
            top-1/2
            -translate-y-10
            peer-focus:-translate-y-10
            peer-placeholder-shown:-translate-y-1/2

            w-max

            text-xs
            peer-focus:text-xs
            peer-placeholder-shown:[font-size:inherit]
            peer-placeholder-shown:[line-height:inherit]

            opacity-50
            text-inherit
            peer-focus:opacity-100
            peer-placeholder-shown:text-blue-400

            cursor-text
            transition-transform;
    }
}
